# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Node
node_modules/
frontend/node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# MarketMind Specific
backend/archive/
backend/data/*.csv
backend/data/*.zip
backend/data/bse_bhavcopy.py
scratch/
*samco*
*.log
*.sql
*.tar.xz
